.category:hover {
  background-color: darkcyan;
}
.delete-button:hover,
.fa-trash-can:hover {
  color: darkred;
  cursor: pointer;
}
.fa-circle-plus:hover {
  transition-duration: 0.4s;
  transform: scale(1.8);
  color: aqua;
  cursor: pointer;
}
.fa-github:hover {
  transition-duration: 0.75s;
  transform: rotate(720deg) scale(1.5);
  cursor: pointer;
}
.fa-pen-to-square:hover {
  color: greenyellow;
  cursor: pointer;
}
.date-container:hover {
  background-color: greenyellow;
}
